n8n_Cadastro_de_Projeto.json
{
  "name": "Cadastro_de_Projeto",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Cadastro_de_Projetos",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        256,
        16
      ],
      "id": "fd6ef6a7-aaf3-4e36-9af4-f04939273ab8",
      "name": "Webhook",
      "webhookId": "ef01d7f1-002d-4888-9e25-1d64a6eb8ddf"
    },
    {
      "parameters": {
        "tableId": "Cadastro_de_Projeto",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Nome_do_Projeto",
              "fieldValue": "={{ $json.Nome_do_Projeto }}"
            },
            {
              "fieldId": "Tipo_do_Projeto",
              "fieldValue": "={{ $json.Tipo_do_Projeto }}"
            },
            {
              "fieldId": "Responsavel",
              "fieldValue": "={{ $json.Responsavel }}"
            },
            {
              "fieldId": "Data_de_Inicio",
              "fieldValue": "={{ $json.Data_de_Inicio }}"
            },
            {
              "fieldId": "Justificativa",
              "fieldValue": "={{ $json.Justificativa }}"
            },
            {
              "fieldId": "Objetivo",
              "fieldValue": "={{ $json.Objetivo }}"
            },
            {
              "fieldId": "Beneficios",
              "fieldValue": "={{ $json.Beneficios }}"
            },
            {
              "fieldId": "Action_Frontend",
              "fieldValue": "={{ $json.Action_Frontend }}"
            },
            {
              "fieldId": "ID_WebHook_Edição",
              "fieldValue": "={{ $json.ID_Supabase_Projetos }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1168,
        -208
      ],
      "id": "af60075f-2c72-43f8-97d6-c92acd1d7e0e",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "j5VxDWQqsuoVOjDA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5615cd85-d704-4d4a-8e7e-43c000a0777f",
                    "leftValue": "={{ $json.Action_Frontend }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Criar Projeto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.Action_Frontend }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a429c53a-f8b4-4cd9-aee3-7e33692bb6a6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Excluir Projeto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c0819360-57da-4ea8-b2a8-eb643a9e8050",
                    "leftValue": "={{ $json.Action_Frontend }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Editar Projeto"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        608,
        0
      ],
      "id": "9ac1d2eb-0358-4f4a-b552-c49bd6552006",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8a768fb4-b8b8-4e58-9787-d0674a170b67",
              "name": "Nome_do_Projeto",
              "value": "={{ $json.body.title }}",
              "type": "string"
            },
            {
              "id": "ce346993-60cd-440c-b282-3f7607a512db",
              "name": "=Tipo_do_Projeto",
              "value": "={{ $json.body.type }}",
              "type": "string"
            },
            {
              "id": "ed2b6b5e-1c75-4bf4-bf4e-507d717a7908",
              "name": "Responsavel",
              "value": "={{ $json.body.responsibleLead }}",
              "type": "string"
            },
            {
              "id": "d8931cf0-335d-4379-bc1c-f7064e7a3c5d",
              "name": "Data_de_Inicio",
              "value": "={{ $json.body.startDate }}",
              "type": "string"
            },
            {
              "id": "3648d351-aa4e-4570-9c62-86dad3efc15c",
              "name": "Justificativa",
              "value": "={{ $json.body.justification }}",
              "type": "string"
            },
            {
              "id": "53e9aa25-aefa-48af-a230-271bcf627570",
              "name": "Objetivo",
              "value": "={{ $json.body.objective }}",
              "type": "string"
            },
            {
              "id": "2a1e236d-a022-4356-b869-e0977a59218b",
              "name": "Beneficios",
              "value": "={{ $json.body.benefits }}",
              "type": "string"
            },
            {
              "id": "5470024d-19c1-47a3-94d6-6e0929478f9a",
              "name": "Action_Frontend",
              "value": "={{ $json.body.action }}",
              "type": "string"
            },
            {
              "id": "8935b26e-0749-48f8-b6c3-8977b3080c35",
              "name": "ID_Supabase_Projetos",
              "value": "={{ $json.body.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        16
      ],
      "id": "d674756a-353d-4bf4-87b5-27442678e6f9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "Cadastro_de_Projeto",
        "filters": {
          "conditions": [
            {
              "keyName": "ID_WebHook_Edição",
              "condition": "eq",
              "keyValue": "={{ $json.ID_Supabase_Projetos }}"
            },
            {
              "keyName": "ID_Supabase_Projetos",
              "condition": "eq",
              "keyValue": "={{ $json.ID_Supabase_Projetos }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1168,
        16
      ],
      "id": "e79ea52e-8bcc-4207-96f0-ffd4795c7f19",
      "name": "Delete a row",
      "credentials": {
        "supabaseApi": {
          "id": "j5VxDWQqsuoVOjDA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Cadastro_de_Projeto",
        "filters": {
          "conditions": [
            {
              "keyName": "ID_WebHook_Edição",
              "condition": "eq",
              "keyValue": "={{ $json.ID_Supabase_Projetos }}"
            },
            {
              "keyName": "ID_Supabase_Projetos",
              "condition": "eq",
              "keyValue": "={{ $json.ID_Supabase_Projetos }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Nome_do_Projeto",
              "fieldValue": "={{ $json.Nome_do_Projeto }}"
            },
            {
              "fieldId": "Tipo_do_Projeto",
              "fieldValue": "={{ $json.Tipo_do_Projeto }}"
            },
            {
              "fieldId": "Responsavel",
              "fieldValue": "={{ $json.Responsavel }}"
            },
            {
              "fieldId": "Data_de_Inicio",
              "fieldValue": "={{ $json.Data_de_Inicio }}"
            },
            {
              "fieldId": "Justificativa",
              "fieldValue": "={{ $json.Justificativa }}"
            },
            {
              "fieldId": "Objetivo",
              "fieldValue": "={{ $json.Objetivo }}"
            },
            {
              "fieldId": "Beneficios",
              "fieldValue": "={{ $json.Beneficios }}"
            },
            {
              "fieldId": "Action_Frontend",
              "fieldValue": "={{ $json.Action_Frontend }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1168,
        256
      ],
      "id": "eae432ca-f094-4f89-b144-1d167ce2cf2b",
      "name": "Update a row",
      "credentials": {
        "supabaseApi": {
          "id": "j5VxDWQqsuoVOjDA",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Cadastro_de_Demanda",
        "filters": {
          "conditions": [
            {
              "keyName": "Projeto",
              "condition": "eq",
              "keyValue": "={{ $('Webhook').item.json.body.previousTitle }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Projeto",
              "fieldValue": "={{ $('Webhook').item.json.body.title }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1460,
        256
      ],
      "id": "cascading-update-demands",
      "name": "Atualizar Nome do Projeto nas Demandas",
      "credentials": {
        "supabaseApi": {
          "id": "j5VxDWQqsuoVOjDA",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Delete a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update a row": {
      "main": [
        [
          {
            "node": "Atualizar Nome do Projeto nas Demandas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "updated-workflow-v2",
  "id": "t9lISrdqKtyuJpip",
  "tags": []
}